@charset "utf-8";
/* common */
.nodata{min-height:150px !important;line-height:150px !important;font-size:16px !important}
.content.intro_page{padding:0;max-width:100%;background:url(../../images/main/pc_intro_bg.jpg)center no-repeat;background-size:100% 100%}
.intro_page .intro_area .txt_area{margin:0 auto;width:608px}
.intro_page .intro_area .txt_area .inner_box{padding:50px 0}
.intro_page .intro_area .txt_area .inner_box .txt{margin-top:40px;font-size:32px;line-height:45px}
.intro_page .intro_area .txt_area .inner_box .btn_area{margin-top:60px}
.intro_page .intro_area .txt_area .inner_box .btn_area .btn_txt{width:160px}
.intro_page .intro_area .txt_area .inner_box .sub_area .sub_txt{font-size:16px;line-height:22px}
/* header */
/* footer - quick */
.footer .quick_menu{display:block !important;right:60px;bottom:50px;text-align: right;}
.footer .quick_menu .list {gap: 10px;flex-direction: column;}
.footer .quick_menu .list li{width:170px;height: 60px;padding:0;}
.footer .quick_menu .list li a {align-items: center;color: #fff; background-color: #303030; border-radius: 40px;}
.footer .quick_menu .list li:nth-child(even) a{background-color: #111;}
.footer .quick_menu .list li a .icon{width:30px;height:33px;margin-left: 20px;}
.footer .quick_menu .list li a .txt{width:120px; font-size:14px;text-align: left;padding-left: 9px;}
.footer .quick_menu .list li.prd .icon{width:30px;height:33px;}
.footer .quick_menu .list li.top .icon{width:50px;height:50px;margin-top:30px}
.footer .quick_menu .list li.top .icon img{position:absolute;top:50%;left:50%;width:26px;height:16px;margin:-8px 0 0 -14px}
.footer .quick_menu .menu_open{width:60px;height:60px;background-image:url(../../images/default/ico_quick_woman.png);}
/* login */
.layer.login_layer .display_table .table_cell .layer_area{height:auto}
.layer.login_layer .display_table .table_cell .layer_area .layer_con{padding:40px 100px 50px}
.layer.login_layer .display_table .table_cell .layer_area .layer_con .login_tab{margin-bottom:40px}
.layer.login_layer .display_table .table_cell .layer_area .layer_con .btn_area .btn_txt{width:100%}
.layer.login_layer .display_table .table_cell .layer_area .layer_con .social_login::before{left:50%;width:500px;margin-left:-250px}
.layer.login_layer .display_table .table_cell .layer_area .layer_con .social_login ul{margin-top:30px}
.layer.login_layer .layer_area .layer_tit{height:100px;padding:0 100px;font-size:24px}
.layer.login_layer .layer_area .layer_tit p:first-child::after{height:33px;margin-top:-16px}
.layer.login_layer .layer_area .layer_tit p span a{font-size:24px}
.layer.login_layer .layer_area .layer_tit p.check span{padding-left:23px;background:url(../../images/default/pc_ico_log_arrow.png) 0 50% no-repeat;background-size:13px}
/* mypage */
.content.mypage{padding:30px 0 120px;min-height:775px}
.content.mypage .inner .top_info{width:100%;margin-top:0}
.content.mypage.order_lists_page .inner .top_info{display:flex;justify-content:space-between;margin-top:0}
.content.mypage .inner .top_info .page_tit{display:flex;justify-content:space-between}
.content.mypage .inner .top_info .page_tit .tit{display:block;color:#111;font-size:30px;font-weight:700;line-height:42px;text-align:left;white-space:nowrap}
.content.mypage .inner .top_info .page_tit .btn_txt{margin:0;width:120px;height:40px;font-size:14px;font-weight:500;line-height:40px}
.content.mypage .inner{max-width:100%;margin-top:-100px;padding:0 0 0 220px;width:100%}
/* mapage_lnb */
.mypage_lnb.lnb{display:block;position:relative;max-width:1200px;margin:0 auto;padding-top:40px}
.mileage{display:block;position:relative;max-width:1200px;margin:0 auto;padding-top:20px}
.mypage_lnb .mypage_link{position:absolute;top:-210px;left:0;width:170px;border-top:1px solid #555}
.mypage_lnb .mypage_link .depth_01>li>a{display:block;padding:16px 0;color:#111;font-size:16px;font-weight:500;line-height:22px;border-bottom:1px solid #eee}
.mypage_lnb .mypage_link .depth_01>li .depth_02{padding-bottom:15px;border-bottom:1px solid #eee}
.mypage_lnb .mypage_link .depth_01>li .depth_02>li>a{display:block;margin-top:15px;color:#999;font-size:14px;line-height:20px}
.mypage_lnb .mypage_link .depth_01>li .depth_02>li.on>a{color:#111;font-weight:500}

/* mypage - note - giftcard_lists_page , giftcard_give_lists_page */
/* .giftcard_lists_page .inner .my_gift .js_tabCon .list li .info .tit,
.giftcard_receive_lists_page .inner .my_gift .js_tabCon .list li .info .tit{display:none} */
/* .giftcard_lists_page .inner .my_gift .js_tabCon .list li .info .txt,
.giftcard_receive_lists_page .inner .my_gift .js_tabCon .list li .info .txt{margin-top:0} */
/* .giftcard_receive_lists_page .inner .my_gift .js_tabCon .list li .info .txt .year{position:relative;float:left;margin-right:10px !important;padding-right:10px !important}
.giftcard_receive_lists_page .inner .my_gift .js_tabCon .list li .info .txt .year::after{content:'' !important;display:block !important;position:absolute;top:51%;right:0;transform:translateY(-50%);width:1px;height:10px;background:#ddd} */
/* mypage - note - 선물하기내역 / 받은기프트카드 */
/* mypage - note - giftcard_order_page */
/* mypage - note - mileage_lists_page */
/* .mileage_lists_page .inner .mileage_box .list li{padding:30px}
.mileage_lists_page .inner .mileage_box .list li .info::after{content:'';display:block;clear:both}
.mileage_lists_page .inner .mileage_box .list li .info .tit{}
.mileage_lists_page .inner .mileage_box .list li .info .tit{display:inline-block;vertical-align:top;font-size:16px;line-height:22px}
.mileage_lists_page .inner .mileage_box .list li .info .txt{float:left;margin-top:0;margin-right:30px}
.mileage_lists_page .inner .mileage_box .list li .info .txt span{font-size:16px;line-height:22px}
.mileage_lists_page .inner .mileage_box .list li .info .txt .pay{display:none}
.mileage_lists_page .inner .mileage_box .list li .price_box .price{font-size:16px;line-height:22px} */
/* mypage - action - recommand_expert_lists_page */
/* .recommand_wine .wine_list .list li{display:inline-block;vertical-align:middle;margin-right:20px;padding:30px 0;width:calc((100% / 3) - 13.4px)}
.recommand_wine .wine_list .list li:first-of-type{margin-top:0}
.recommand_wine .wine_list .list li:nth-of-type(3n){margin-right:0}
.recommand_wine .wine_list .list li:nth-of-type(-n+3){margin-top:0}
.recommand_wine .wine_list .list .info .txt span{font-size:12px;line-height:17px}
.recommand_wine .wine_list .list .info .txt span em{padding-left:3px}
.recommand_wine .wine_list .list .info .box{margin-top:10px}
.recommand_wine .wine_list .list .info .box .satisfaction span.on{background:url(../../images/default/ico_star_on.png)center 2px no-repeat;background-size:12px}
.recommand_wine .wine_list .list .info .box .satisfaction span.off{background:url(../../images/default/ico_star_off.png)center 2px no-repeat;background-size:12px}
.recommand_wine .wine_list .list .info .box .satisfaction_txt{font-size:12px;line-height:17px}
.recommand_wine .wine_list .list .btn_area .btn_txt{margin:0 auto;width:160px;font-size:14px}
.recommand_wine .wine_list .btn_area{margin-top:60px} */
/* member - join - law_agreement_page */
/* member - join - join_form_page */
.content.join_form_page{padding:40px 0 120px;width:700px}
.join_form_page .form_area{margin-top:40px}
.join_form_page .btn_area{margin-top:60px}
.join_form_page .btn_area .btn_txt{width:160px} 
.form_area ul li.tel_li .form_box .tel_box::after{content:'';display:block;clear:both}
.form_area ul li.tel_li .form_box .tel_box input{float:left;width:calc(100% - 165px)}
.form_area ul li.tel_li .form_box .tel_box .btn_txt{float:right;margin-top:0;width:160px;height:40px;line-height:39px;font-size:14px}
.form_area ul li.tel_li .form_box .code_box{width:360px}
.form_area ul li.tel_li .form_box .code_box input{width:250px}
.form_area ul li.tel_li .form_box .code_box .btn_txt{width:100px;height:40px;line-height:39px;font-size:14px}
.form_area ul li.tel_li .form_box>div>input{float:left;width:calc(100% - 165px)}
.form_area ul li.tel_li .form_box .btn_m_view{float:right;width:160px;height:40px;line-height:40px;margin:0}
.form_area ul li.add_li .form_box .add_box_01{width:360px}
.form_area ul li.add_li .form_box .add_box_01 input{width:250px}
.form_area ul li.add_li .form_box .add_box_01 .btn_txt{width:100px;height:40px;line-height:39px;font-size:14px}
.m_view_layer.layer .layer_area{height:auto}
.m_view_layer.layer .layer_area .layer_con{padding:40px 50px}
.m_view_layer .checkbox input[type='checkbox'] + label{padding-left:54px}
.m_view_layer .checkbox label span{display:inline-block;vertical-align:middle;line-height:1.7;font-size:14px}
.m_view_layer .checkbox label span.tit{margin-right:20px;font-size:16px}
/* member - join - join_ok_page */
/* ok_page */
.ok_page .inner .ok_area .tit{font-size:24px;line-height:33px}
.ok_page .inner .ok_area .txt{font-size:16px;line-height:22px}
.ok_page .inner .ok_area .btn_area{margin-top:80px}
.ok_page .inner .ok_area .btn_area .btn_txt{width:160px}
/* 개인정보약관동의 / 이용약관 레이어디자인 */
/* mypage - action - recommnend_write_page */
/* mypage - action - recommand_lists_page */

/* mypage - action - recommand_view_page */
/* .recommand_view_page .inner .recommand_area .recommand_list>li{font-size:0}
.recommand_view_page .inner .recommand_area .recommand_list>li .box.box_01{display:inline-block;vertical-align:top;width:calc(100% - 375px);font-size:0}
.recommand_view_page .inner .recommand_area .recommand_list>li .box.box_01 .wine_img{display:inline-block;vertical-align:top;width:230px}
.recommand_view_page .inner .recommand_area .recommand_list>li .box.box_01 .wine_info{display:inline-block;vertical-align:top;margin-left:20px;margin-top:0}
.recommand_view_page .inner .recommand_area .recommand_list>li .box.box_01 .wine_info .price_area{margin-top:30px}
.recommand_view_page .inner .recommand_area .recommand_list>li .box.box_01 .wine_info .wish_area{margin-top:60px} */

/* mypage - accont - password_cert_page */
.content.accont{padding:30px 0 120px}
.accont .inner .page_tit{display:block;padding-bottom:30px;color:#111;font-size:30px;font-weight:700;line-height:42px;border-bottom:1px solid #555}
.accont .inner .form_area{padding-bottom:0;border-bottom:0;margin:60px auto 0;width:500px}
/* mypage - accont - member_modify_page */
/* mypage - accont - sns_connect_page */
/* mypage - accont - member_modify_page */
/* mypage - accont - withdrawal_page */
.withdrawal_page .inner .ok_area{margin-top:60px}
/* mypage - accont - withdrawal_ok_page */
/* company - about_us_page */