@charset "utf-8";

/* .lnb_wrap.product_lnb .pc_lnb .page_tit{background:url(./images/product/pc_lnb_product_lists.jpg) 50% no-repeat;background-size:cover} */
.lnb_wrap.product_lnb .pc_lnb{position:relative;overflow:hidden}
.lnb_wrap.product_lnb .pc_lnb .img{position:absolute;top:0;left:50%;transform:translateX(-50%);width:1900px}
.lnb_wrap.product_lnb .pc_lnb .img img{max-width:none}
.lnb_wrap.product_lnb .pc_lnb .page_tit{background-color:transparent}
.lnb_wrap.product_lnb .pc_lnb .page_tit h2{color:#fff}

.content.product_lists_page{padding:15px 0 60px}

.product_lists_page .line_map{margin-bottom:60px}
.product_lists_page .line_map ul{justify-content:flex-end}
.product_lists_page .line_map ul li{font-size:14px}

.product_lists_page .tab_area .js_tabBtn{width:720px;margin:0 auto}
.product_lists_page .tab_area .js_tabBtn.tab3{width:720px;margin:0 auto}

.prd_list_area .search_result{margin-top:40px;margin-bottom:55px;overflow:hidden}
.prd_list_area .second_order select{float:left;margin-left:20px}
.prd_list_area .second_order .btn_switch_module{margin-top:10px}
.prd_list_area .result{margin-top:0}
.prd_list_area .result p{line-height:40px}

.prd_list{display:flex;flex-wrap:wrap}
.prd_list li{width:384px;margin-right:24px;margin-bottom:40px}
.prd_list li:nth-child(3n){margin-right:0}
.prd_list li:last-child{margin-bottom:0}

/* 구성상품 리셋 */



/* .prd_list li .item .main_img::before{content:'';display:block;position:absolute;top:50%;left:20px;transform:translateY(-50%);width:50px;height:50px;background:transparent;z-index:100}
.prd_list li .item .main_img::after{content:'';display:block;position:absolute;top:50%;right:20px;transform:translateY(-50%);width:50px;height:50px;background:transparent;z-index:100} */
.prd_list li .item .main_img .slider .slick-arrow{position:absolute;top:50%;text-indent:-9999px;overflow:hidden;transform:translateY(-50%);margin-top:0;border-color:#ddd;width:50px;height:50px;border:1px solid #ddd;z-index:200}
.prd_list li .item .main_img .slick-slider:hover .slick-arrow{display:inline-block !important;}
.prd_list li .item .main_img .slider .slick-arrow.slick-prev{margin-left:0;left:20px;background:#fff url(../../images/main/pc_ico_arrow_prev.png) no-repeat 50% 50%;background-size:8px}
.prd_list li .item .main_img .slider .slick-arrow.slick-next{margin-right:0;right:20px;background:#fff url(../../images/main/pc_ico_arrow_next.png) no-repeat 50% 50%;background-size:8px}

/* .prd_list li .item .main_img .prd_img .table_con{padding:59px} */

.prd_list li .item .main_img .table_box{height:400px}
.prd_list li .item .main_img .slick-dots{bottom:20px}

.prd_list li .item .info{position:relative;min-height:189px;margin-top:17px;padding-bottom:42px}
.prd_list li .item .info .more_info .type span{width:18px;height:18px;margin-top:2px}
.prd_list li .item .info .more_info .country span{width:25px;height:15px;margin-top:3px}
.prd_list li .item .info .more_info .prd_name{margin-top:20px;font-size:16px}
.prd_list li .item .info .more_info .prd_name a{display:block;font-size:20px;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.prd_list li .item .info .more_info .prd_name .en{font-size:16px;font-weight:400;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.prd_list li .item .info .more_info .prd_info{max-height:2.8em;height:2.8em;line-height:1.4em;display:-webkit-box;text-overflow:ellipsis;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:2;margin-top:10px;font-size:14px}
.prd_list li .item .info .more_info .price{position:absolute;bottom:0;left:0;margin-top:21px;line-height:22px}
.prd_list li .item .info .more_info .price span{font-size:16px}
.prd_list li .item .info .more_info .price del{font-size:14px}
.prd_list li .item .info .more_info .price ins{font-size:16px}

.product_lists_page .filter{position:relative;margin:80px 0 50px;/* border-left:1px solid #ddd;border-right:1px solid #ddd */}

/* .product_lists_page .filter .check_type{padding:20px 150px 0 30px;border:1px solid #ddd;border-bottom:0;margin-top:-1px}
.product_lists_page .filter .check_type.pairing.on{display:flex;flex-wrap:wrap}
.product_lists_page .filter .check_type .checkbox{width:auto;margin-bottom:20px;margin-right:20px;padding-right:1px}
.product_lists_page .filter .check_type.pairing .checkbox{width:calc( 25% - 15px )}
.product_lists_page .filter .check_type.pairing .checkbox:nth-of-type(4n){margin-right: 0} */


/* 필터 레이어 */
.product_lists_page .filter_layer .current_filter{min-height:81px;padding:20px 67px 0 30px;border-left:1px solid #ddd;border-right:1px solid #ddd}
.product_lists_page .filter_layer .current_filter .check_select{margin:0 5px 10px 0;padding:8px 37px 8px 15px;font-size:16px}
.product_lists_page .filter_layer .current_filter .check_select button{top:14px;right:14px;width:12px;height:12px;/* background:url(./images/product/pc_icon_check_select_del.png) 50% no-repeat */background:url(../../images/product/pc_icon_check_select_del_gray.png) 50% no-repeat}
.product_lists_page .filter_layer .current_filter .reset{top:31px;right:50px}
.product_lists_page .filter_layer .btn_area{position:relative;padding:0}
/* .product_lists_page .filter_layer .btn_area .btn_txt{width:160px;height:50px;line-height:50px;font-size:14px} */

.product_lists_page .filter_layer.layer .layer_area .layer_con{padding-bottom:191px}
.product_lists_page .filter_layer .filter .check_area>p{font-size:20px}
.product_lists_page .filter_layer .filter .check_area.price::before{top:66px;height:4px}
.product_lists_page .filter_layer .current_filter{border-bottom:0;padding:30px 90px 0 50px}
.product_lists_page .filter_layer .btn_area{padding:30px 0}
.product_lists_page .filter_layer .btn_area .btn_txt{width:300px}

.product_lists_page .prd_list_area .h2{margin-bottom:40px;font-size:32px}
.product_lists_page .prd_list_area .search_result{width:100%;border:0}
.product_lists_page .prd_list_area .search_result .result_area{width:auto}
.product_lists_page .prd_list_area .result{margin-top:9px}
.product_lists_page .prd_list_area .second_order .btn_switch_module{margin-top:9px}

.prd_list_area .second_order .btn_switch_module{margin-right:20px}

/* 202209 - UI/UX 개편 prd_list */
.content.product_lists_page{padding-top:160px}
.product_lists_page .prd_list_tit .top h2{font-size:32px}
.product_lists_page .prd_list_tit .top .line_map ul li{font-size:16px}
.product_lists_page .prd_list_tit .prd_tab_area{display:flex;justify-content:space-between;align-items:flex-start}
.product_lists_page .prd_list_tit .prd_tab_area h2 {font-size:32px;font-weight:500;color: #111}
.product_lists_page .prd_list_tit .prd_tab_area>ul{width:390px}
.product_lists_page .prd_list_tit .prd_tab_area>ul li a{font-size:16px}
.product_lists_page .prd_list_tit .smart_search{width:162px;margin-top:0}
.prd_list_area{margin-top:60px}
.prd_list_area .search_result{margin:0 0 40px 0}
.prd_list_area .search_result .result{margin-top:0;margin-right:20px;font-size:18px}
.n_prd_list li{width:calc(20% - 16px)}
.n_prd_list li:not(:nth-of-type(2n)){margin-right:0}
.n_prd_list li:not(:nth-of-type(5n)){margin-right:20px}
.n_prd_list li:not(:nth-of-type(-n+2)){margin-top:0}
.n_prd_list li:not(:nth-of-type(-n+5)){margin-top:40px}
.n_prd_list li .item .main_img{height:320px}
.n_prd_list li .item .main_img img{max-height:250px}
.n_prd_list li .item .main_img .label_wrap{top:10px;right:10px}
.n_prd_list li .item .info{margin-top:20px}
.n_prd_list li .item .info .more_info{height:89px}
.n_prd_list li .item .info .more_info .prd_name a{max-height:44px;font-size:16px}
.n_prd_list li .item .info .more_info .prd_info{height:40px;font-size:14px}
.n_prd_list li .item .info .cate_label{margin-top:20px}
.n_prd_list li .item .info .cate_label span{margin-bottom:0}
.n_prd_list li .item .info .price_area{margin-top:20px}
.n_prd_list li .item .info .price_area .price span{margin-right:10px;font-size:15px}
.n_prd_list li .item .info .price_area .price ins{font-size:20px}
.n_prd_list li .item .info .price_area .price .out{font-size:18px}
.n_prd_list li .item .info .price_area .price .discount{font-size:20px}
.n_prd_list li .item .info .price_area .price del{font-size:17px}
.n_prd_list li .item .info .price_area .price.set i{margin-right:4px;font-size:14px}
.n_prd_list li .item .info .price_area .price.set ins{font-size:16px}
.n_prd_list li .item .info .price_area .price.set .discount{font-size:16px}
.product_lists_page .pagination{margin-top:80px}

/* new & best */
.search_product_lists_page .tab_area{margin-bottom:40px}
.search_product_lists_page .prd_search{margin-bottom:80px}
.search_product_lists_page .prd_search .search_info{margin-bottom:60px}
.search_product_lists_page .prd_search .search_info h2{font-size:32px;line-height:45px}
.search_product_lists_page .prd_search .search_info p{font-size:24px}
.search_product_lists_page .prd_search .search_box{width:383px;margin:0 auto}
.search_product_lists_page .prd_search .search_box input{width:337px;font-size:14px}


.css_switch{position:relative}

.css_switch .btn_switch{display:inline-block;min-width:50px;height:24px;margin:0 2px}
.css_switch .btn_switch .bar{width:20px;height:20px}
.css_switch .txt{position:relative;line-height:24px;color:#999;font-size:14px;vertical-align:top}
.css_switch .left{left:auto;display:inline-block}
.css_switch .right{right:auto;display:inline-block}
.css_switch .btn_switch_check:checked + .btn_switch_area .left{display:inline-block !important}
.css_switch .btn_switch_check:checked + .btn_switch_area .right{display:inline-block !important}
.css_switch .btn_switch_check + .btn_switch_area .pc_hidden,
.css_switch .btn_switch_check:checked + .btn_switch_area .pc_hidden{display:none !important}

.content.product_view_page{padding:60px 0}
.content.product_view_page::after{content:'';display:block;clear:both}

.product_view_page .line_map{margin-bottom:43px}
.product_view_page .main_prd_detail{float:left;position:relative;margin-bottom:80px;width:550px}
.product_view_page .main_prd_detail .main_img_area{/* height:750px;line-height:750px; */margin:0;padding:28px 43px 37px}
.product_view_page .main_prd_detail .main_img_area .main_img{line-height:1}
.product_view_page .main_prd_detail .main_img_area .main_img img{width:100%;vertical-align:middle}
.product_view_page .main_prd_detail .main_img_area .easyzoom--overlay .easyzoom-flyout{left:0;margin-left:0}

.product_view_page .main_prd_detail .thumbnail{margin-top:30px;text-align:left}
.product_view_page .main_prd_detail .thumbnail li{width:80px;height:80px;margin:0 0 5px}

.product_view_page .info_area{float:right;width:534px;margin-top:0;padding-bottom:80px}

.product_view_page .info_area .more_info{padding-bottom:30px}
.product_view_page .info_area .more_info .type span{width:18px;height:18px;margin-top:2px}
.product_view_page .info_area .more_info .country span{width:25px;height:15px;margin-top:3px}
.product_view_page .info_area .more_info .prd_name{font-size:32px}
.product_view_page .info_area .more_info .prd_info{margin-top:10px;font-size:16px}
.product_view_page .info_area .more_info .cate_label{display:block;margin-top:20px}
.product_view_page .info_area .more_info .label{font-size:14px}
.product_view_page .info_area .more_info .price_box{display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:20px}
.product_view_page .info_area .more_info .price .t{font-size:16px;font-weight:400;color:#111;margin-right:65px}
.product_view_page .info_area .more_info .info_box .t{margin-right:65px;width:45px;font-size:16px;line-height:22px}
.product_view_page .info_area .more_info .details{margin:30px 0 0;padding:0;border-top:none}
.product_view_page .info_area .more_info .details dt{width:74px;font-size:18px}
.product_view_page .info_area .more_info .details dd{width:calc(100% - 74px)}
.product_view_page .info_area .more_info .details dt:not(:last-of-type){margin-bottom:15px}
.product_view_page .info_area .more_info .details dd:not(:last-of-type){margin-bottom:15px}
.product_view_page .info_area .more_info .price span{font-size:26px;line-height:37px;margin-right:8px}
.product_view_page .info_area .more_info .price ins{font-size:26px;line-height:37px;margin-right:8px}
.product_view_page .info_area .more_info .price .tel a{margin:4px 0 0 20px;background:url(../../images/product/pc_ico_tel.png) 50% no-repeat;background-size:100%}
.product_view_page .info_area .more_info .price del{font-size:16px;line-height:37px}
.product_view_page .info_area .more_info .price.sale{width:100%}
.store_layer.layer .display_table{max-width:600px;padding:0}
.store_layer.layer .layer_area .layer_close{top:33px;right:33px;background:url(../../images/product/pc_btn_layer_close.png) 50% no-repeat;background-size:100%}
.store_layer.layer .layer_area .layer_con{padding:50px 50px 40px}
.store_layer .layer_con .tit{margin-bottom:40px;font-size:24px}
.store_layer .tbl_list col.col_w01{width:150px}
.product_view_page .buy_process{position:relative;margin-top:30px}
.product_view_page .buy_process .hide_process{display:block;position:relative;z-index:100}
.product_view_page .buy_process .btn_area{position:relative;padding:0}
.product_view_page .buy_process .btn_area .cart_btn{width:237px}
.product_view_page .buy_process .btn_area .buy_btn{width:237px}
.product_view_page .buy_process .btn_area .buy_process_btn{display:block}

.product_view_page .buy_process.on::before{display:none}
.product_view_page .buy_process.on .hide_process{display:block;background:#fff}

.product_view_page .buy_process .hide_process .total_price{padding:20px 0 40px;margin-top:30px;font-size:16px;line-height:36px}
.product_view_page .buy_process .hide_process .total_price strong{font-size:26px}
.product_view_page .count{width:30px;height:30px;font-size:16px;right:-30px;line-height:30px}

.product_view_page .tab_con.review_con{padding-top:66px}
.product_view_page .review_con .ratings_tit{margin-bottom:25px}
.product_view_page .review_con .ratings_tit p{padding-left:44px;background:url(../../images/product/pc_ico_star.html) no-repeat 0 50%;background-size:34px;font-size:32px}
.product_view_page .review_con .ratings_tit p em{margin-left:10px;font-size:18px}
.product_view_page .review_con .btn_area{margin-top:60px}
.product_view_page .tasting_review_lists>li{border:0;border-bottom:1px solid #ddd;padding:20px 10px}
.product_view_page .tasting_review_lists>li .top .box.grade .name{width:auto;text-align:right}

.product_view_page .tab_area{clear:both}
.product_view_page .tab_area .tab_btn{margin:0}
.product_view_page .tab_area .tab_btn>ul{padding:0 0 0 1px;overflow-x:hidden}
.product_view_page .tab_area .tab_btn>ul.fixed{top:67px}
.product_view_page .tab_area .tab_btn>ul>li{width:25%}
.product_view_page .tab_area .tab_btn>ul>li>button{width:100%;height:65px;line-height:65px;padding:0;font-size:22px}
.product_view_page .tab_con{padding:30px 0}
.product_view_page .tab_con.prd_con .second_order{margin-bottom:55px}
.product_view_page .tab_con.prd_con .btn_area{margin-top:60px}

.product_view_page .tab_con.food_con .js_tabBtn{display:flex;width:100%;}
.product_view_page .tab_con.food_con .js_tabBtn>li{width:calc(100%/3)}
.product_view_page .tab_con.food_con .js_tabBtn>li:not(:first-of-type){position:relative;margin-top:0}
.product_view_page .tab_con.food_con .js_tabBtn>li:not(:first-of-type)::before{content:'';position:absolute;top:50%;left:0;width:1px;height:45px;background-color:#ddd;transform:translateY(-50%);}
.product_view_page .tab_con.food_con .js_tabCon ul{display:flex;flex-wrap:wrap}
.product_view_page .tab_con.food_con .js_tabCon ul li{width:calc(25% - 18px)}
.product_view_page .tab_con.food_con .js_tabCon ul li:not(:first-of-type){margin-top:0}
.product_view_page .tab_con.food_con .js_tabCon ul li:not(:nth-of-type(-n+4)){margin-top:24px}
.product_view_page .tab_con.food_con .js_tabCon ul li:not(:nth-of-type(4n)){margin-right:24px}
.product_view_page .tab_con.food_con .js_tabCon ul li .img{max-height:244px}
.product_view_page .tab_con.food_con .js_tabCon ul li .tit{font-size:16px}

.product_view_page .tab_con.detail_con{text-align:center}
.product_view_page .tab_con.detail_con img{display:inline-block}

.js_select{position:relative}
.js_select button{width:100%;height:50px;color:#555;line-height:50px}
.js_select>button{display:inline-block;padding:0 0 0 14px;border:1px solid #dcdcdc;background:url(../../images/default/icon_arrow_down.png) no-repeat 95% 50%;text-align:left}
.js_select ul{display:none;position:absolute;top:100%;left:0;right:0;background:#fff;border:1px solid #ddd;border-top:0;border-bottom:0}
.js_select ul li{border-bottom:1px solid #ddd}
.js_select>button.on + ul{display:block}

.wine_profile_layer.layer .display_table{width:800px}
.wine_profile_layer.layer .layer_area .layer_con{max-height:80vh}
/* .wine_profile_layer .con_box .box_tit .ico_note.on::before{top:17px;left:3px}
.wine_profile_layer .con_box .box_tit .ico_note.on::after{top:27px;width:450px;letter-spacing:0} */
/* .wine_profile_layer .con_box .box_tit .ntc_txt::before{display:block;border-top:3px solid transparent;border-right:4px solid transparent;border-bottom:3px solid #333;border-left:4px solid transparent;z-index:50} */
.wine_profile_layer.layer .layer_con>.btn_area{position:static;width:auto;padding:0;border-top:0;background:transparent;margin-top:60px}
.wine_profile_layer.layer .layer_con>.btn_area .btn_txt{width:160px}

.wish_lists_page .del_area{margin-bottom:30px}
.wish_lists_page .del_area button{width:90px;line-height:32px}
.wish_lists_page .del_area button.btn_all{margin-left:5px}
.wish_lists_page .n_prd_list li{margin-top:50px}
.wish_lists_page .n_prd_list li{width:313px;margin-right:20px}
.wish_lists_page .n_prd_list li .item .main_img .table_box{height:313px}
.wish_lists_page .n_prd_list li:nth-child(3n){margin-right:0}
.wish_lists_page .n_prd_list li:nth-of-type(-n+3){margin-top:0}