@charset "utf-8";

.header .top .wrap{height:125px;padding:22px 0 21px}
.header .top .wrap h1.logo{position: relative;display:block;float: left;z-index: 10;}
.header .top .wrap h1.logo a {width: 152px;}
.header .bottom{display:block}

.main_page.content{max-width:100%}

.main_visual{width:1200px;margin:0 auto 80px;padding:60px 0}
.main_visual .m_slide{margin:0 -10px}
.main_visual .m_slide .slide{margin:0 10px}
.main_visual .m_slide .slide .visual_category{top:50px;left:50px}
.main_visual .m_slide .slide .visual_txt{bottom:50px;left:50px;font-size:14px}
.main_visual .m_slide .slide .visual_txt .tit{font-size:24px}
.main_visual .m_slide .slide .visual_txt .sub_txt{margin-top:30px}
.main_visual .control_box{bottom:0;left:50%;display:block;width:133px;height:40px;line-height:40px;transform:translateX(-50%)}
.main_visual .control_box button{width:40px;height:40px}
.main_visual .control_box button.prev{background:url(../../images/main/pc_ico_prev.png) no-repeat 50% 50%;background-size:9px}
.main_visual .control_box button.next{background:url(../../images/main/pc_ico_next.png) no-repeat 50% 50%;background-size:9px}
.main_visual .control_box .page_count{width:53px;font-size:14px}

.section{width:1200px;margin:0 auto 80px;padding:0}
.section h2{margin-bottom:40px;font-size:32px}
.section h2>span{vertical-align:middle}
.section h2>.css_switch{vertical-align:middle;height:24px;line-height:24px;margin-left:25px}
.section h2>.css_switch .right{right:auto}
.section .btn_more{top:9px;right:0;width:26px;height:26px}
.section .result_tab{margin:0 0 40px}
.section .result_tab ul{white-space:normal;overflow-x:visible;padding-right:0}
.section .result_tab li button{height:40px;line-height:40px;padding:0 20px;font-size:16px;font-weight:400}
.section .result_tab li.on button{font-weight:500}
.section .slick-arrow{position:absolute;top:50%;width:40px;height:60px;margin-top:-20px;text-indent:-9999px;overflow:hidden;z-index:5}
.section .slick-arrow.slick-prev{left:50%;background:rgba(0, 0, 0, 0.5) url(../../images/main/pc_ico_arrow_prev_wht.png) no-repeat 50% 50%;background-size:10px}
.section .slick-arrow.slick-next{right:50%;background:rgba(0, 0, 0, 0.5) url(../../images/main/pc_ico_arrow_next_wht.png) no-repeat 50% 50%;background-size:10px}
.section .btn_area{margin-top:60px}
.section .btn_area .btn_txt{width:160px}
.section.slide_prd .n_prd_list{overflow:visible;margin:0}
.section.slide_prd .n_prd_list li{width:224px;margin-right:20px}
.section.slide_prd .slick-arrow{top:160px;width:50px;height:50px;border:1px solid #ddd;border-radius:100%;background-color:#fff}
.section.slide_prd .slick-arrow.slick-prev{margin-left:-675px;background-image:url(../../images/main/pc_ico_arrow_prev.png)}
.section.slide_prd .slick-arrow.slick-next{margin-right:-675px;background-image:url(../../images/main/pc_ico_arrow_next.png)}
.theme_area{margin-top:120px}
.theme_area.product_lists_page .filter{margin-bottom:40px}
.theme_area .prd_wrap{height:645px}

.theme_area .prd_wrap .prd_list>.sub_tit{position:absolute;top:0;margin-bottom:0;font-size:18px}
.theme_area .prd_list{display:block;white-space:normal;overflow-x:visible;margin-right:0}
.theme_area .prd_list li{width:384px;margin:0 12px}
.theme_area .prd_list li:not(:first-child){margin-left:12px}
.theme_area .prd_list li:last-child{margin-right:12px}
.theme_area .prd_list li .item .info{min-height:189px;padding-bottom:42px}
.theme_area .prd_list li .item .info .more_info .price{line-height:22px}
.theme_area .prd_list .slick-arrow{border-color:#ddd;margin-top:-130px}
.theme_area .prd_list .slick-arrow.slick-prev{margin-left:-694px;background:url(../../images/main/pc_ico_arrow_prev.png) no-repeat 50% 50%;background-size:10px}
.theme_area .prd_list .slick-arrow.slick-next{margin-right:-694px;background:url(../../images/main/pc_ico_arrow_next.png) no-repeat 50% 50%;background-size:10px}
.scroll_area .prd_list>.slick-slider>.slick-list{overflow-x:hidden}
.scroll_area .prd_list>.slick-slider>.slick-arrow{display:block !important}
.scroll_area .prd_list{display:block;white-space:normal;overflow-x:visible;margin-right:0}
.scroll_area .prd_list li{width:384px;margin:0 12px}
.scroll_area .prd_list li:not(:first-child){margin-left:12px}
.scroll_area .prd_list li:last-child{margin-right:12px}
.scroll_area .prd_list li .item .info{min-height:189px;padding-bottom:42px}
.scroll_area .prd_list li .item .info .more_info .price{line-height:22px}
.scroll_area .prd_list .slick-arrow{border-color:#ddd;margin-top:-130px}
.scroll_area .prd_list .slick-arrow.slick-prev{margin-left:-694px;background:url(../../images/main/pc_ico_arrow_prev.png) no-repeat 50% 50%;background-size:10px}
.scroll_area .prd_list .slick-arrow.slick-next{margin-right:-694px;background:url(../../images/main/pc_ico_arrow_next.png) no-repeat 50% 50%;background-size:10px}

.select_area.section{width:100%;overflow:hidden}
.select_area .top{width:1200px;margin:0 auto}
.select_area h2>span{vertical-align:middle}
.select_area h2>.css_switch{vertical-align:middle;margin-top:0}
.select_area .prd_wrap{height:650px}
.select_area .prd_wrap::before{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:441px;background:#F8F8F8;z-index:-1}
.select_area .prd_wrap .prd_list>ul{position:relative;margin-left:calc(50% - 610px);padding:0 0 60px 316px;white-space:normal;overflow-x:visible;margin-right:0}
.select_area .prd_wrap .prd_list li{width:384px;margin:0 13px}
.select_area .prd_wrap .prd_list li:not(:first-child){margin-left:13px}
.select_area .prd_wrap .prd_list li:last-child{margin-right:13px}
.select_area .prd_wrap .prd_list li .item .main_img{background:transparent}

.main_layer.layer{position:absolute;top:20px;left:2%;right:auto;bottom:auto}
.main_layer:nth-of-type(2),
.main_layer:nth-of-type(4){top:493px}
.main_layer .display_table{width:400px;padding:0}
.main_layer .layer_area .layer_con .slider{width:600px}
.main_layer .layer_area .layer_con img{width:100%}
.main_layer .layer_area .layer_close{left:auto;top:auto;bottom:0;right:0;width:24px;height:24px;background:url(../../images/main/main_close.png) 50% 50% no-repeat}
.main_layer .layer_area .slick-dots{bottom:40px}
.main_layer .layer_area .not_today{margin-top:20px}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
}

.pagination li a:hover {
    background-color: #ddd;
}
.pagination li a.now {
    background-color: #333;
    color: #fff;
}

.pagination .prev, .pagination .next {
    font-size: 15px;
}